/* Start Main Rulez */

body{
    background-color: #f4f4f4;
    font-size: 16px;
}

.astrisk{
  font-size: 30px;
  color: #ff0000d1;
  position: absolute;
  right: 26px;
  top: 10px;
}


/* start Login end*/
.login{
    width:300px;
    margin: 100px auto;
}

.login h4{
    color:#888
}



.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #e5e5e5;
}

.login .btn {
    background-color: #008dde;
}

/* Start Bootstrap Stayling */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
    font-weight: bold;
    transition: all 0.5s;
}

.navbar-nav>li>a {
    font-weight: 600;
}

.navbar-nav>li {
    transition: all 0.5s;
}

.dropdown-menu > li >a {
    font-weight: 550;
}

.navbar-right:hover,.dropdown-menu > li >a:hover {
    background-color:#82ccdd ;
    color: #f4f4f4;
}

.dropdown-menu{
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    font-weight: 1em;
}

h1{
    margin: 15px 0;
    font-weight: 500;
    color: #666;
}

.form-control{
  position: relative;
}

.show-pass {
  position: absolute;
  top: 6px;
  right: -30px;
}

.main-table tr:first-child td{
    background-color: #333;
    color:#fff;
}





/* End Bootstrap Stayling */
