/* Start Main Rulez */

body{
    background-color: #f4f4f4;
    font-size: 16px;
}

.astrisk{
  font-size: 30px;
  color: #ff0000d1;
  position: absolute;
  right: 26px;
  top: 10px;
}


/* start Login end*/
.login{
    width:300px;
    margin: 100px auto;
}

.login h4{
    color:#888
}



.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #e5e5e5;
}

.login .btn {
    background-color: #008dde;
}

/* Start Bootstrap Stayling */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
    font-weight: bold;
    transition: all 0.5s;
}

.navbar-nav>li>a {
    font-weight: 600;
}

.navbar-nav>li {
    transition: all 0.5s;
}

.dropdown-menu > li >a {
    font-weight: 550;
    color: #fff;
}

.dropdown-menu{
    background-color:#82ccdd ;
}

.navbar-right:hover{
    background-color:#82ccdd ;
}
.dropdown-menu > li >a:hover {
    background-color:#fff ;
}

.dropdown-menu{
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    font-weight: 1em;
}

/*start Dashboard page*/
.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    color:#f4f4f4;
    border-radius: 10px;
}

.home-stats .stat a{
    color: #fff;
    text-decoration: none;
}

.home-stats .st-members{
    background-color: #74b9ff;
}

.home-stats .st-pending{
    background-color: #fd79a8;
}

.home-stats .st-items{
    background-color: #55efc4;
}

.home-stats .st-comments{
    background-color: #a29bfe;
}

.home-stats .stat span{
    display: block;
    font-size: 60px;
}



.latest{
    margin-top: 30px;
    font-weight: 700;
}

/*start manage page*/

h1{
    margin: 15px 0;
    font-weight: 500;
    color: #666;
}

.form-control{
  position: relative;
}

.show-pass {
  position: absolute;
  top: 6px;
  right: -30px;
}

.navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #82ccdd;
}

.main-table {
    -webkit-box-shadow:0 3px 10px #ccc;
    -moz-box-shadow:0 3px 10px #ccc;
    box-shadow:0 3px 10px #ccc;
}

.main-table td {
    background-color: #fff;
    vertical-align: middle !important;
}

.main-table tr:first-child td{
    background-color: #333;
    color:#fff;
}

.main-table .btn {
    padding: 3px 10px;
}





/* End Bootstrap Stayling */
