/* Start Main Rulez */

body{
    background-color: #f4f4f4;
    font-size: 16px;
}


/* start Login end*/
.login{
    width:300px;
    margin: 100px auto;
}

.login h4{
    color:#888
}



.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #e5e5e5;
}

.login .btn {
    background-color: #008dde;
}

/* Start Bootstrap Stayling */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
}

/* End Bootstrap Stayling */